infra/summary-state-machine.asl.json
{
  "Comment": "OCR and summary generation for uploaded dental manuals.",
  "StartAt": "StartOcr",
  "States": {
    "StartOcr": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:ap-northeast-1:YOUR_ACCOUNT_ID:function:dental-summary-worker-dev",
      "Parameters": {
        "action": "start_ocr",
        "fileId.$": "$.fileId"
      },
      "Next": "OcrStartedChoice",
      "Retry": [
        {
          "ErrorEquals": [
            "Lambda.ServiceException",
            "Lambda.AWSLambdaException",
            "Lambda.SdkClientException"
          ],
          "IntervalSeconds": 2,
          "MaxAttempts": 3,
          "BackoffRate": 2
        }
      ]
    },
    "OcrStartedChoice": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.status",
          "StringEquals": "ALREADY_COMPLETED",
          "Next": "Done"
        },
        {
          "Variable": "$.status",
          "StringEquals": "TEXT_READY",
          "Next": "GenerateSummary"
        }
      ],
      "Default": "WaitForOcr"
    },
    "WaitForOcr": {
      "Type": "Wait",
      "Seconds": 30,
      "Next": "CheckOcr"
    },
    "CheckOcr": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:ap-northeast-1:YOUR_ACCOUNT_ID:function:dental-summary-worker-dev",
      "Parameters": {
        "action": "check_ocr",
        "fileId.$": "$.fileId"
      },
      "Next": "OcrCompleteChoice",
      "Retry": [
        {
          "ErrorEquals": [
            "Lambda.ServiceException",
            "Lambda.AWSLambdaException",
            "Lambda.SdkClientException"
          ],
          "IntervalSeconds": 2,
          "MaxAttempts": 3,
          "BackoffRate": 2
        }
      ]
    },
    "OcrCompleteChoice": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.ocrStatus",
          "StringEquals": "IN_PROGRESS",
          "Next": "WaitForOcr"
        },
        {
          "Variable": "$.ocrStatus",
          "StringEquals": "SUCCEEDED",
          "Next": "GenerateSummary"
        }
      ],
      "Default": "Failed"
    },
    "GenerateSummary": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:ap-northeast-1:YOUR_ACCOUNT_ID:function:dental-summary-worker-dev",
      "Parameters": {
        "action": "generate_summary",
        "fileId.$": "$.fileId"
      },
      "Next": "Done",
      "Retry": [
        {
          "ErrorEquals": [
            "Lambda.ServiceException",
            "Lambda.AWSLambdaException",
            "Lambda.SdkClientException"
          ],
          "IntervalSeconds": 5,
          "MaxAttempts": 2,
          "BackoffRate": 2
        }
      ]
    },
    "Failed": {
      "Type": "Fail"
    },
    "Done": {
      "Type": "Succeed"
    }
  }
}
